<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>air_skyline</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoadAirportServlet</display-name>
    <servlet-name>LoadAirportServlet</servlet-name>
    <servlet-class>service.LoadAirportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadAirportServlet</servlet-name>
    <url-pattern>/LoadAirportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryFlightsServlet</display-name>
    <servlet-name>QueryFlightsServlet</servlet-name>
    <servlet-class>service.QueryFlightsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryFlightsServlet</servlet-name>
    <url-pattern>/QueryFlightsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffLoginServlet</display-name>
    <servlet-name>StaffLoginServlet</servlet-name>
    <servlet-class>service.StaffLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffLoginServlet</servlet-name>
    <url-pattern>/StaffLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateFlightServlet</display-name>
    <servlet-name>CreateFlightServlet</servlet-name>
    <servlet-class>service.CreateFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateFlightServlet</servlet-name>
    <url-pattern>/CreateFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectSeatServlet</display-name>
    <servlet-name>SelectSeatServlet</servlet-name>
    <servlet-class>service.SelectSeatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSeatServlet</servlet-name>
    <url-pattern>/SelectSeatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadBuyerInfServlet</display-name>
    <servlet-name>UploadBuyerInfServlet</servlet-name>
    <servlet-class>service.UploadBuyerInfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadBuyerInfServlet</servlet-name>
    <url-pattern>/UploadBuyerInfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefundLoginServlet</display-name>
    <servlet-name>RefundLoginServlet</servlet-name>
    <servlet-class>service.RefundLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefundLoginServlet</servlet-name>
    <url-pattern>/RefundLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefundServlet</display-name>
    <servlet-name>RefundServlet</servlet-name>
    <servlet-class>service.RefundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefundServlet</servlet-name>
    <url-pattern>/RefundServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefundFinalServlet</display-name>
    <servlet-name>RefundFinalServlet</servlet-name>
    <servlet-class>service.RefundFinalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefundFinalServlet</servlet-name>
    <url-pattern>/RefundFinalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefundFInalServlet</display-name>
    <servlet-name>RefundFInalServlet</servlet-name>
    <servlet-class>service.RefundFInalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefundFInalServlet</servlet-name>
    <url-pattern>/RefundFInalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetDiscountServlet</display-name>
    <servlet-name>SetDiscountServlet</servlet-name>
    <servlet-class>service.SetDiscountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetDiscountServlet</servlet-name>
    <url-pattern>/SetDiscountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatisticsServlet</display-name>
    <servlet-name>StatisticsServlet</servlet-name>
    <servlet-class>service.StatisticsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticsServlet</servlet-name>
    <url-pattern>/StatisticsServlet</url-pattern>
  </servlet-mapping>
</web-app>